#nav-bar {
position: fixed;
height: 80px;
width: 100%;
background-color: #00A087;
color: #E8FDFF;
z-index: 1;
}

#nav-bar .logo {
height: 80px;
width: 80px;
float: left;
position: center;
}

#nav-bar .header {
float: left;
font-size: 200%;
position: center;
}

nav#nav-bar > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}    